<!DOCTYPE html>

  <head>
  	<meta charset="UTF-8">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
    	<!-- write in this line -->
    	<header class="header">
    		<img src="./images/view.jpg" alt="view" class="view">
    		<h1 class="display-4">Final assignment</h1>
    		<p class="subtitle">Every Little Helps</p>
    	</header>
    	<button><a href="index.html">Home</a></button>
    	<button class="button">Portfolio</button>
    </div>

<!-- pictures -->
	<section class="picdisplay" id="picdisplay">
		<div class="part1">
			<div class="pic1"><img id="pic11" src="images/money1.jpg" alt="Pic 1" width="400px">
			<p>Photo by John Hughes</p>
			</div>

			<div class="pic2"><img id="pic2" src="images/money2.jpg" alt="Pic 2" width="400px">
			<p>Photo by Penny Mathews</p>
			</div>

			<div class="pic3"><img id="pic3" src="images/money3.jpg" alt="Pic 3" width="400px" height="270px">
			<p>Photo by Sufi Nawaz</p>
			</div>
		</div>


		<div class="part2">
			<div class="pic4"><img id="pic4" src="images/vege1.jpg" alt="Pic 4" width="400px">
			<p>Photo by Joel Dietle</p>
			</div>

			<div class="pic5"><img id="pic5" src="images/vege2.jpg" alt="Pic 5" width="400px">
			<p>Photo by Bnbn</p>
			</div>

			<div class="pic6"><img id="pic6" src="images/vege3.jpg" alt="Pic 6" width="400px">
			<p>Photo by Marcin Wysmulek</p>
			</div>
		</div>


		<div class="part3">
			<div class="pic7"><img id="pic7" src="images/tech1.jpg" alt="Pic 7" width="400px">
			<p>Photo by Tan Aikhong</p>
			</div>

			<div class="pic8"><img id="pic8" src="images/tech2.jpg" alt="Pic 8" width="400px" height="290px">
			<p>Photo by Tan Aikhong</p>
			</div>

			<div class="pic9"><img id="pic9" src="images/tech3.jpg" alt="Pic 9" width="400px">
			<p>Photo by Absolute_one</p>
			</div>
		</div>
	</section>

  </body>


</html>